.title {
  text-transform: capitalize;
}
#card{
  border: 1px solid lightgray;
  padding: 5% 1em;
box-shadow: 5px 5px 1px 0px rgba(204,204,204,0.5);
}
.info {
  border: 1px solid lightgray;
  padding: 5% 1em;

}
.dog{
  cursor: pointer;
    vertical-align:middle;
  }
.facts {
  text-transform: lowercase;
  font-style: italic;
}
.category{
  font-weight: bold;
}
.animal_descript{
  font-size: 18px;
}
.features {
  list-style-type: none;
  padding: 0px;
}
